.about_hero {
   position: relative;
}

.about_hero::before {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   bottom: -78px;
   height: 10rem;
   background-color: #F3FCF5;
   transform: skewY(-5deg);
}

@media (max-width: 390px) {
   .about_hero::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -90px;
      height: 8rem;
      background-color: #F3FCF5;
      transform: skewY(-10deg);
   }
}