@import url('http://fonts.cdnfonts.com/css/social-media-circled');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background-color: #F3FCF5;

  font-family: "Avenir Next", "Social Media Circled", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}