.home_header {
  position: relative;
}

.home_header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  height: 6rem;
  background-color: #f3fcf5;
  transform: skewY(-3deg);
}

@media (max-width: 390px) {
  .home_header::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: 10rem;
    background-color: #f3fcf5;
    transform: skewY(-8deg);
  }
}

@media (max-width: 414px) {
  .home_header::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: 5rem;
    background-color: #f3fcf5;
    transform: skewY(-9deg);
  }
}

@media (max-width: 360px) {
  .home_header::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: 10rem;
    background-color: #f3fcf5;
    transform: skewY(-8deg);
  }
}

@media (min-width: 375px) {
  .hero-mobile-hight {
    height: 670px;
  }
}
